.navbar-nav li:hover {
    background-color: rgb(231, 231, 231);
}

.row-column {
    /* width: 100%; */
    display: flex;
    align-items: center;
}
table{
    text-align: center;
}
.checkbox-inline{
    user-select: none;
}